.checkout_section{
  padding: 104px 0px;
}
.checkout_text_heading {
  font-family: "Radio Canada", sans-serif;
  font-size: 49px;
  font-weight: 700;
  line-height: 130%;
  color: var(--primary-text-color);
  position: relative;
  margin-bottom: 16px;
}

.checkout_text_heading_dot {
  color: var(--primary-color);
}

.checkout_text_heading::before {
  content: "";
  position: absolute;
  left: 32%;
  top: 42%;
  height: 32px;
  width: 45%;
  background: var(--secondary-background-color);
  z-index: -1;
  transition: 0.3s ease-in all;
}

.checkout_text_para {
  font-weight: 400;
  font-size: 16px;
  color: #656565;
  font-family: "Radio Canada", sans-serif;
  margin-top: 24px;
  margin-bottom: 40px;
}

.checkout_rating_text {
  font-weight: 700;
  font-size: 39px;
  line-height: 130%;
  font-family: "Radio Canada", sans-serif;
  color: var(--primary-text-color);
  margin-bottom: 5px;
}

.checkout_review_div {
  text-align: left;
}

.checkout_rating_para {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  font-family: "Radio Canada", sans-serif;
  color: black;
  margin-top: 28px;
}

.checkout_rating_para_span {
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  font-family: "Radio Canada", sans-serif;
  color: var(--primary-text-color);
}

.checkout_review_button {
  background-color: var(--primary-color) !important;
  color: var(--text-secondary-color);
  width: 169px;
  height: 40px;
  border: 0px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 400;
  margin-top: 25px;
}

.checkout_hired_div {
  text-align: left;
}


.checkout_hired_para{
  font-weight: 400;
font-size: 20px;
line-height: 120%;
font-family: "Radio Canada", sans-serif;
color: var(--primary-text-color);
}

.checkout_review_text_para{
  font-weight: 400;
font-size: 14px;
line-height: 120%;
font-family: "Radio Canada", sans-serif;
color: #656565;
}


.checkout_card{
  background-color: var(--card-background-color);
  border: 0.5px solid var(--primary-color);
  width: 352px;
  height: 224px;
  padding: 16px;
}

.checkout_card_div{
  display: flex;
  align-items: center;
}

.checkout_rating_text{
  margin-left: 10px;
  margin-top: 5px;
}

.checkout_card_heading{
  font-size: 10px;
  font-weight: 700;
}

.checkout_colored_text{
  color: var(--primary-color);
  font-weight: 700;
font-size: 10px;
line-height: 120%;
font-family: "Radio Canada", sans-serif;
}

.checkout_card_para{
  font-size: 16px;
  font-weight: 400;
  color: #656565;
  margin-top: 8px;
}

.checkout_colored_span{
  color: #656565;
  font-size: 10px;
  margin: 0px 5px;
}

.checkout_texts{
  text-align: left;
  margin-top: 10px;
}

.checkout_para{
  text-align: left;
}

.eee{
  display:flex;
  align-items: center;
  justify-content: center;
}


@media screen and  (max-width: 768px) {
  .checkout_text_heading {
    font-size: 20px;
  }
  .checkout_text_heading:before{
    left: 20%;
    top: 0%;
    height: 100%;
    width: 70%;
  }
  .checkout_text_para {
    font-size: 12px;
  }
  .checkout_rating_text {
    font-size: 32px;
  }
  .checkout_rating_para {
    font-size: 12px;
  }
  .checkout_review_button {
    width: 100%;
  }
  .checkout_card{
    width: 100%;
  }
}