/* Font-Import-Link */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Radio+Canada:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Radio Canada", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #e44747;
  --secondary-color: #fbfaf8;
  --tertiary-color: #282b8f;
  --primary-background-color: #e55a5a;
  --primary-text-color: #15133c;
  --secondary-background-color: #ffefef;
  --text-secondary-color: #ffefef;
  --tertiary-background-color: #0f141e;
  --card-background-color: #fceded;
  --progress-background-color: #f7c6c6;
  --paragraph-text-color: #474747;
  --cv-tags-background-color: #eaeaf4;
}

/* Owl Carousel CSS */
.owl-one .owl-item > div {
  cursor: pointer;
  margin: 20% 10%;
  /* transition: margin 0.4s ease; */
}

.owl-one .owl-item.center > div {
  cursor: auto;
  margin: 0% -5%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.owl-one .owl-item.center > div:before {
  content: "USE THIS TEMPLATE";
  position: absolute;
  z-index: 1;
  bottom: 3%;
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  font-size: 10px;
  font-weight: 400;
  padding: 12px 28px;
  transition: 0.3s ease-in all;
  cursor: pointer;
}

.owl-one .owl-item:not(.center) > div:hover {
  opacity: 0.75;
}

.owl-two .owl-nav {
  display: flex;
  position: absolute;
  right: 0;
  top: 107%;
}

.fa-arrow-left-long {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 8px 8px;
  border-radius: 8px;
}

.fa-arrow-right-long {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 8px 8px;
  border-radius: 8px;
}


.am-prev{
  margin-right: 5px;
}

.am-next{
  margin-left: 5px;
}
