.appbar{
  position: absolute;
  width: 100%;
  z-index: 1;
  background-color: transparent;
}

.logo_first_text{
    font-size: 25px;
  font-weight: 700;
  color: var(--primary-color);
}
.logo_second_text{
    font-size: 25px;
  font-weight: 700;
  color: var(--tertiary-color);
}

.links{
  color: var(--secondary-color);
  border-bottom: 2px solid transparent;
  border-radius: 0px;
}

.links:hover{
  color: var(--tertiary-color);
  border-bottom: 2px solid var(--tertiary-color);
  background-color: transparent;
}


.navbar_menu_color{
  color: var(--primary-color);
}


.menu{
  color: var(--primary-color);
}

@media only screen and (min-width: 280px) and (max-width:768px) {

}


@media only screen and (min-width: 768px) and (max-width:1200px) {
  .links{
    color: var(--tertiary-color);
  }
}